.recipe-list-container li {
  list-style: none;
  margin-bottom: 30px;
  position: relative;
}

.recipe-list-container li img {
  overflow: none;
  width: 100%;
  height: 100%;
}

.thumb-overlay {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(255,255,255);
  background: -moz-radial-gradient(circle, rgba(255,255,255,0) 35%, rgba(0,0,0,0.9364788151588761) 100%);
  background: -webkit-radial-gradient(circle, rgba(255,255,255,0) 35%, rgba(0,0,0,0.9364788151588761) 100%);
  background: radial-gradient(circle, rgba(255,255,255,0) 35%, rgba(0,0,0,0.9364788151588761) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
  top: 0;
  cursor: pointer;
}

.thumb-overlay a {
  color: white;
  text-decoration: none;
}

.thumb-overlay a h2,
.thumb-overlay a small {
  background: rgba(0,0,0,.4);
  width: 80%;
  margin: 20px auto 0;
  padding: 5px 10px;
}

.thumb-overlay a h2 {
  border-bottom: .5px solid rgb(161, 55, 55)
}


.thumb-overlay a small {
  display: none;
}

.thumb-overlay:hover a small {
  display: block;
}
