@import '../../../styles/sass/base.scss';

.comment-container {
  background: white;
  padding: 15px;
  box-shadow: 0px 0px 2px rgba(0,0,0, .2);
  margin: 20px 0;
}

.comment-user-data {
  display: flex;
}

.user-data-right {
  flex-grow: 2;
}

.user-data-right {
  margin: 0;
  font-size: $xxs-fs

}

.comment-avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid $off-white;
}

.comment-avatar img {
  width: 100%;
  height: 100%;  
}

.comment-avatar .fa-user-astronaut {
  font-size: 6rem;
  position: relative;
  top: 5px;
  color: $off-white;
  
}


.user-data-left p.commenter {
  margin: 5px 0 10px 0;
  font-size: $xs-fs;

}

.comment-data {
  box-shadow: inset 1px 0 2px 1px rgba(0,0,0, .1);
  margin-top: 10px;

}

.comment-text > p{
  margin: 0;
  padding: 8px 10px;
  font-size: $xxs-fs;
  text-align: left;
  @media (min-width: 375px) {
    font-size: $xs-fs;
  }

}

.fa-quote-left,
.fa-quote-right {
  margin: 2px;
  font-size: 4px;
  color: gray;
  position: relative;
  top: -6px;
}