
.button {
 border: none;
 padding: 3px 8px;
 font-size: 12px;
 outline: none;
}

.button--btn-blue {
  background: #1c88bf;
  color: white;
}

.button--btn-transparent--red-sides {
  background-color: transparent;
  border-left: .5px solid rgb(161, 55, 55);
  border-right: .5px solid rgb(161, 55, 55);
  color: rgb(201, 201, 201);
}

.button--btn-transparent--red-sides:hover {
  color: white;
  cursor: pointer;
}