* { 
  box-sizing: border-box;
}

// fonts
$xxs-fs: 1.1rem;
$xs-fs: 1.3rem;
$s-fs: 1.6rem;
$m-fs: 2rem;
$ml-fs: 2.4rem;
$l-fs: 2.8rem;
$xl-fs: 3.5rem;
$xxl-fs: 5rem;

$off-white: rgb(206, 206, 206);
$red: rgb(161, 55, 55);
$bright-red: rgb(241, 42, 42);
$info-blue: rgb(35, 100, 175);
$black-fade: #1d1d1d;

// Breakpoints: 
$tablet: 740px;  // Actually it's 768 but 740 also covers landscape mode for s8 etc.
$desktop: 1024px;
$ip5-landscape: 568px;

body {
  user-select: none;
}

h1, h2, h3 {
  font-weight: 300;
}

h1 {
  font-size: $l-fs;
  @media (min-width: '375px') {
    font-size: $xl-fs;
  }
 }

h2 {
  font-size: $l-fs
}

p, a, li, textarea, input  {
  font-size: $s-fs;
  @media(min-width: $ip5-landscape) {
    font-size: 1.8rem;
  }
  @media(min-width: $tablet) {
    font-size: $m-fs
  }
}

ul li {
  list-style: none;
}

