// fonts
$xxs-fs: 1.1rem;
$xs-fs: 1.3rem;
$s-fs: 1.6rem;
$m-fs: 2rem;
$ml-fs: 2.4rem;
$l-fs: 2.8rem;
$xl-fs: 3.5rem;
$xxl-fs: 5rem;

$off-white: rgb(206, 206, 206);
$red: rgb(161, 55, 55);
$bright-red: rgb(241, 42, 42);
$info-blue: rgba(235, 248, 211, 0.7);

// Breakpoints: 
$tablet: 768px;
$desktop: 1025px;


h1, h2, h3 {
  font-weight: 300;
}

h1 {
  font-size: $l-fs;
  @media (min-width: '375px') {
    font-size: $xl-fs;
  }
 }

h2 {
  font-size: $m-fs
}

p, a, li  {
  font-size: $s-fs;
}

ul li {
  list-style: none;
}