header {
  position: absolute;
  display: flex;
  width: 100%;
}

header img, 
header button {
  top: 8px;
}

header  img {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 10%;
  transform: rotate(30deg)
}

header button {
  right: 10%;
  position: absolute;
}