header {
  position: absolute;
  display: flex;
  width: 100%;
}

header img, 
header button {
  top: 4;
}

header button {
  top: 6px;
}

header  img {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 10%;
  transform: rotate(30deg)
}

header button {
  right: 10%;
  position: absolute;
}