header {
  position: absolute;
  display: flex;
  width: 100%;
}

header img, 
header button {
  top: 4;
}

header button {
  top: 6px;
}

header  svg {
  position: absolute;
  left: 20px;
  top: -10px !important;
}

header button {
  right: 10%;
  position: absolute;
}