@import '../../styles/sass/base.scss';

.thumb-list-container {
  @media (min-width: $tablet) {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    li {
      width: 40vw;
    }
  }

}

