@import '../../../styles/sass/base.scss';

.recipes h2.thumb-list-title {
  margin: 0 0 -20px 0;
  top: 0;
  font-family: 'Special Elite'
}

div.filters-wrapper {
  position: relative;
}


input.recipe {
  border: none;
  border-bottom: 2px solid $red;
  outline: 0;
  padding: 20px 0px 15px 0px;
  background: inherit;
  @media (min-width: $tablet) {
    font-size: $l-fs;
  }
}

.filter-text-p {
  font-size: $xxs-fs;
  color: rgb(86, 86, 86);
  @media (min-width: $tablet) {
    font-size: $s-fs
  }
}


.content-container.recipes h2 svg {
  @media (min-width: $tablet) {
    top: -160px;
    width: 180px;
    height: 180px;
  }
}