@import '../../../styles/sass/base.scss';

.mortar-pestle-sketch {
  position: absolute;
  left: 0;
  top: -15px;
}


h2.thumb-list-title { 
  padding: 10px;
  font-size: $l-fs;
  position: relative;
  top: 20px;
  margin-top: 0;
  margin-bottom: 30px;
  @media (min-width: $ip5-landscape) {
    font-size: $xl-fs;    
  }
  @media (min-width: $desktop) {
    font-size: $xxl-fs;
    
  }

}

h2.thumb-list-title > svg {
  position: absolute;
  left: 0;
  top: -100px;
}

.page-content > h2 {
  font-family: 'Special Elite'
}