@import '../../../styles/sass/base.scss';

.mortar-pestle-sketch {
  position: absolute;
  left: 0;
  top: -15px;
}

.wok-sketch {
  position: absolute;
  right: 0px;
  top: -15px
}

h2.thumb-list-title { 
  padding: 10px;
  font-size: $l-fs;
  position: relative;
}