@import '../../styles/sass/base.scss';

.banner-container {
  position: relative;
  text-align: center;
  padding: 0;
  overflow: hidden;
} 


.banner-container h1, 
.banner-container h2 {
  color: white;
}

.banner-container a {
  color: white;
  text-decoration: none;
}


.banner-container img.banner-bg{
  overflow: none;
  width: 100%;
  height: auto;
}

.vignette {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  background: rgb(255,255,255);
  background: -moz-radial-gradient(circle, rgba(255,255,255,0) 35%, rgba(0,0,0,0.9364788151588761) 100%);
  background: -webkit-radial-gradient(circle, rgba(255,255,255,0) 35%, rgba(0,0,0,0.9364788151588761) 100%);
  background: radial-gradient(circle, rgba(255,255,255,0) 35%, rgba(0,0,0,0.9364788151588761) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}

// Container for text content within the banner
.vignette > div {
  width: 80%;
  margin: 0 auto;
}


/* .page refers to banner that take up a whole section of the screen, like the banner picture at the top of each recipe page

.siteBanner is the main site picture on the home page,  the splash screen as it were - the first thing that user sees when they visit the site

.thumb referes to banners that cover thumbs such as a list item. The list of recipes on the home page being an example.
*/

/* 
  Home Page main Banner
*/


.banner-container.siteBanner h1 {
  font-size: 5rem;
}

.banner-container.siteBanner,
.banner-container.page {
  min-height: 50vh
}

.banner-container.siteBanner img.banner-bg ,
.banner-container.page img.banner-bg {
  /* small device */
  height: 60vh;
  width: auto;
  position: relative;
  left: -155px;
}

.banner-container.siteBanner header,
.banner-container.page header{
  margin-top: 10px
}

// FULL PAGE BANNER

.banner-container.siteBanner h1,
.banner-container.page h1{
  margin-top: 120px;
  display: inline-block;
  background: rgba(0,0,0,0.4);
  padding: 2px 10px;
  border-bottom: 3px solid $red;

}

// THUMBNAIL BANNER

.banner-container a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.banner-container.thumb h2 {
  display: inline-block;
  background: rgba(0,0,0,0.2);
  padding: 2px 10px;
  border-bottom: 1px solid $red;
  margin-bottom: 4px
}

.banner-container.thumb p {
  background: rgba(0,0,0,0.4);
  padding: 2px 10px;
  font-size: 14px;


}


.banner-container.thumb .vignette {
  cursor: pointer;
}

.fa-info-circle{
  color: $info-blue;
  font-size: $ml-fs;
  position: absolute;
  left: 8px; top: 8px;
  z-index: 11
}
