@import '../../styles/sass/base.scss';

.banner-container {
  position: relative;
  text-align: center;
  padding: 0;
  overflow: hidden;
}

.banner-container h1, 
.banner-container h2 {
  color: white;
}

.banner-container a {
  color: white;
  text-decoration: none;
}

.banner-container img.banner-bg{
  overflow: none;
  width: 100%;
  height: auto;
}

.vignette {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  background: -moz-radial-gradient(circle, rgba(255,255,255,0) 35%, rgba(0,0,0,0.9364788151588761) 100%);
  background: -webkit-radial-gradient(circle, rgba(255,255,255,0) 35%, rgba(0,0,0,0.9364788151588761) 100%);
  background: radial-gradient(circle, rgba(255,255,255,0) 35%, rgba(0,0,0,0.9364788151588761) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}


/* .page refers to banner that take up a whole section of the screen, like the banner picture at the top of each recipe page

.siteBanner is the main site picture on the home page,  the splash screen as it were - the first thing that user sees when they visit the site

.thumb referes to banners that cover thumbs such as a list item. The list of recipes on the home page being an example.
*/

/* 
  Home Page Main Home Page Banner
*/
.banner-container.siteBanner {
  height: 70vh;
  width: auto;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    @media (min-width: $ip5-landscape) {
      height: 120vh;
    }
    @media (min-width: $tablet) {
      height: 60vh;
    }
    @media (min-width: $desktop){
      height: 100vh;
    }
}

.banner-container.siteBanner > img {
  height: 100%;
  width: auto;
  position: relative;
  left: -150px;
  @media(min-width: $ip5-landscape) {
    left: -25px;
    width: auto;
    height: 100%;
  }

  @media(min-width: $tablet) {
    left: -250px
  }

  @media(min-width: $desktop) { // Same as ipad landscape
    left: -350px
  }
}



/* FULL PAGE BANNER
======================= */

.banner-container.page {
  height: 60vh;
 
    @media (min-width: $ip5-landscape) {
      height: 90vh;
    }
    @media (min-width: $tablet) {
      height: 60vh;
    }
    @media (min-width: $desktop){
      height: 100vh;
    }

}

.banner-container.page > img {
  height: 100%;
  width: auto;
  position: relative;
  left: -150px;
  @media(min-width: $ip5-landscape) {
    left: 0px;
  }

  @media(min-width: $tablet) {
    left: -100px;
    height: auto;
    width: 100%
    
  }

  @media(min-width: '930px') {
    left: 0;
  }
}

.banner-container.siteBanner header,
.banner-container.page header{
  margin-top: 10px
}

.banner-container.siteBanner h1,
.banner-container.page h1 {
   margin-top: 110px;
   @media (min-width: '375px') {
     margin-top: 140px
   }
   @media (min-width: $ip5-landscape) {  // iphone 5 landscape
    margin-top: 80px;  
   }
}

.banner-container.siteBanner h1 {
  font-size: 5rem;
   @media (min-width: '410px') {
     font-size: 6rem;
   }

   @media (min-width: '667px') {
     margin-top: 100px;
     font-size: 7rem;
   }

   @media (min-width: $tablet) {
    
     margin-top: 150px;
   }
   @media (min-width: $desktop) {
     font-size: 9rem;
     margin-top: 180px;
   }


}


.banner-container.siteBanner h1,
.banner-container.page h1{
  display: inline-block;
  background: rgba(0,0,0,0.4);
  padding: 2px 10px;
  border-bottom: 3px solid $red;
    @media (min-width: '500px') {
      padding: 2px 40px;
      
    }


}

.banner-container.page h1{
  @media (min-width: $tablet) {
    font-size: $xl-fs
  }
  @media (min-width: $desktop) {
    font-size: $xxl-fs;
    margin-top: 150px
  }
}



/* THUMBNAIL BANNER
====================== */

.banner-container a {
  display: inline-block;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.banner-container.thumb h2{
  display: inline-block;
  position: relative;
  top: 0;
  background: rgba(0,0,0,0.5);
  border-bottom: 1px solid $red;
  padding: 2px 20px;
  margin-bottom: 4px;
  font-size: $s-fs;
  @media (min-width: '450px') {
    font-size: $ml-fs
  }
  @media (min-width: $ip5-landscape) {
    font-size: $l-fs
  }
  @media (min-width: $tablet) {
    font-size: $s-fs;
    top: -6px;
  }  
  @media (min-width: $desktop) {
    font-size: $m-fs;
    top: -10px;

  }  
}


.banner-container.thumb .vignette {
  cursor: pointer;
}

.banner-container.thumb .vignette p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.4;
  font-size: $xs-fs;
  @media (min-width: '568px') {
    font-size: $xs-fs;
    margin-top: 15px;
  }
}





.fa-info-circle{
  color: $off-white;
  font-size: $ml-fs;
  position: absolute;
  left: 8px; top: 8px;
  z-index: 11
}


