@import '../../styles/sass/base.scss';

.login-container {
  padding-top: 20px;
}

.login-container h1 {
  font-size: $s-fs;
}

.login-container > p {
  font-size: $xs-fs;
  padding: 0px;
  margin: 10px;
}